
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
     <body>
           <div class="col-6">
           <img src="http://www.teckrr.com/wp-content/uploads/2017/05/powerpoint-presentation.png" width="300" height="200">
           </div>
           <div class="col-6">
           <p>
               Stylist magazine provides you with current styles in fashion, design trends and update dress codes for different occassions. Modern trends in fashion shows and awrads are show cased as well as beauty peagent shows around the world <br />Our coverage is exclusive and gives you the details like no other magazine capptures it. We simplify complex styles into less complicated and easy to comprehend patterns for easy understanding to the intended audience.




           </p>

           </div>
     </body>
